@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight:400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:16px;
  background:#FFF2F2;
}
h1,h2,h3 {
  font-weight: 900;
}
h3 {
  font-size: 2.8rem;
  text-transform: uppercase;
}
h2 {
  font-size: 5.5rem;
  text-transform: uppercase;
}
.what {
    min-height: 85vh;
    background: #8459ff;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap:wrap;
    overflow: hidden;
    position: relative;
    padding: 50px 0;
    color:#fff;
    text-align: left;
}
.what .container,.winner .container {
  max-width: 1000px;
  margin: auto;
}
.what h2,.winner h2 {
  margin:0;
}
.what h3 {
  color:#fd0;
  margin:0;
}
.what .description {
  font-size:1.5rem;
}
.ball {
  position:absolute;
}
.beige.ball {
  top: 80px;
  left: -150px;
}
.purple.ball {
  bottom: -300px;
  right: -150px;
}
.try .container{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}
.try .left {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    background: #e3a8ff;
    color:#000;
    padding:20px 0;
}
.try .right {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  background: #fff1e4;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size:1.5rem;
  font-weight:500;
  padding:20px 0;
}
.try label {
  font-weight:900;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
}
.try input {
  background:#aa8cff;
  outline:none;
  box-shadow:none;
  border-radius:10px;
  padding:10px;
  font-size:1.5rem;
  color:#fff;
  border:1px solid #aa8cff;
}
.try form button {
  margin-left:10px;
  border-radius:10px;
  padding:8px;
  font-size:1.5rem;
  font-weight:800;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  border:1px solid #000;
  color:#fff;
  background:#000;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
.ball {
  animation: float 2.5s ease-in-out infinite;
}

h2.page-title {
  background: linear-gradient(to right, #8459ff,#67d186, #fd0, #ff3399, #e3a8ff, #6659ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    margin: 0.1em 0;
}

.buy {
  position:absolute;
  top:20px;
  right:30px;
  text-decoration: none;
  background:#6659ff;
  border:3px solid #6659ff;
  border-radius: 50px;
  font-size:1.5rem;
  padding:10px 30px;
  color:#fff;
  text-transform: uppercase;
  font-weight:800;
  font-family: 'Nunito', sans-serif;
  cursor:pointer;
}
.buy:hover {
  color:#6659ff;
  background:transparent;
}
@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}
.winner {
    background: #ffeced;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 100px 0;
    text-align: left;
}
.winner h2 {
  color:#8459ff;
}
.winner h2.black {
  color:#000;
}
.winner-buy {
  text-decoration: none;
  background:#6659ff;
  border:3px solid #6659ff;
  border-radius: 50px;
  font-size:1.5rem;
  padding:10px 30px;
  color:#fff;
  text-transform: uppercase;
  font-weight:800;
  font-family: 'Nunito', sans-serif;
  cursor:pointer;
  margin-top:20px;
}
.winner-buy:hover {
  color:#6659ff;
  background:transparent;
}
.winner {
  position: relative;
}
.winner .ball {
  z-index: 1;
}
.green.ball {
  left: -220px;
    top: 10px;
    position: absolute;
}
.green.ball img {
  width: 450px;
}
.pink.ball {
  bottom: -170px;
    right: -150px;
    position: absolute;
}
.pink.ball img {
  width:459px;
}
.winner .description {
  z-index: 2;
  position: relative;
}
@media screen and (min-width: 1024px){
  /*.what {
      padding-top: 160px;
  }*/
}

@media screen and (max-width: 980px){
  body {
    font-size:19px;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size:2.3rem;
  }
  .what .container {
      max-width: 600px;
  }
  .buy {
    top:100px;
    z-index: 2;
    border:2px solid #fff;
    background:#fff;
    color:#6659ff;
  }
  .buy:hover {
    color:#fff;
    border:2px solid #fff;
  }
  .green.ball {
    left: -20px;
    top: 30px;
  }
  .green.ball img {
    width: 250px;
  }
  .pink.ball {
    bottom: -70px;
    right: -50px;
  }
  .winner .ball img{
    width:150px;
  }
}

@media screen and (max-width: 767px){
  body {
    font-size:19px;
  }
  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size:1.8rem;
  }
  .what .container {
      max-width: 90%;
  }
  .what .ball img {
    width:200px;
  }
  .beige.ball {
    left:-100px;
    top:-70px;
  }
  .purple.ball {
    bottom:-100px;
    right:20px;
  }
  .try .left,.try .right {
    flex: 0 0 100%;
    max-width: 100%;
} 
}